[2013-07-26 14:15] bf4 opened #1 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http:t/docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can image, scanning your repository for a LICENSE file or parsing the README

[2013-07-29 09:46] #1 closed, assigned to nobody

[2014-05-23 05:36] muddydixon opened #6 "disconnected from other version clients"
I updated secure-forward version of server without changing clients.
Then server output warning `Connection required from unknown host 'XXX' (XXX), disconnecting...`.

It is derived by difference between `addr` and `peeraddr`.

Can i resolve it without updating client's version?

[2014-05-23 07:11] #6 closed, assigned to nobody

[2014-06-02 22:52] amagnus opened #7 "Getting "no one nodes with valid ssl session" error"
Hello,

I'm using version 0.1.6 of the plugin to collect logs.
From time to time the node using SecureForwardOutput would stop sending logs and get this error:

[code]

Restarting td-agent on the node using SecureForwardInput fixes the problem.

What do you recommend?

[2014-08-28 23:40] hernandesbsousa opened #8 "Secondary support for secure_forward"
Hi,

Currently if we try to use the `<secondary>` tag that works on `out_forward` we get an error

[code]

It'd be nice to have a fallback in case all servers are not available.

[2014-08-29 10:32] #8 closed, assigned to nobody

[2014-10-19 08:10] kiyoto opened #9 "out_secure_forward blocks when the receiver node restarts"
Consider the following setup with **td-agent 2.1 + secure_forward v0.2.0**

[code]

(A)'s td-agent.conf looks like this:

[code]

and (B)'s td-agent.conf looks like this:

[code]

Suppose both (A) and (B) are running. **When (B) is restarted, (A) gets stuck trying to reconnect to (B)**.

See [here](https://gist.github.com/kiyoto/c654f035d20e8bd1d82f) for (A)'s td-agent.log as well as [sigdump](htt

[2014-10-23 11:35] #7 closed, assigned to nobody

[2014-10-24 02:50] #9 closed, assigned to nobody

[2014-11-01 19:03] ghost opened #10 "Memory leak of in_secure_forward?"
v 0.2.3 により連続稼動試験を行っています。

受信側サーバを監視しているとデータ送信量の増加に従い、メモリ&スワップの使用量が増加します。
その後 残スワップがなくなると以下のようなメッセージが OS のログに出力され、同時に td-agent の
プロセスが再起動します。

このとき、/var/log/td-agent/td-agent.log には以下のようなログが出力されています。

![127 0 0 1_mem-day](https://cloud.githubusercontent.com/assets/9498775/4872872/a8b1dae6-61f6-11e4-8b50-b6806881c11a.png)
#

同じ試験を "type forward" により行った場合 (11/01 16:00 ～) はスワップ使用量の変化はありません。

![127 0

[2014-11-04 07:58] tagomoris opened #11 "Session variable leak in in_secure_forward"
Session instances should be removed from `@sessions` after it is expired or disconnected.
https://github.com/tagomoris/fluent-plugin-secure-forward/blob/master/lib/fluent/plugin/in_secure_forward.rb#L194

It makes memory leak in short keep-alive time configuration.

[2014-11-04 08:00] #10 closed, assigned to nobody

[2014-11-05 04:31] #11 closed, assigned to nobody

[2014-12-23 23:43] amagnus opened #12 "Cannot run plugin on windows"
I'm running fluentd 0.10.46 from the windows branch:
https://github.com/fluent/fluentd/archive/windows.zip

OS is Windows Server 2012 R2.

Getting this error when starting fluentd:

[code]

Here is my config file:

[code]

[2015-01-14 06:43] tagomoris commented on #12
Fixed at 3a48c65acd1efeba4fbc763c1bdb40ee2d78437a and released as v0.2.5.
Thank you for reporting!

[2015-01-14 06:43] #12 closed

[2015-02-11 19:24] petastream opened #14 "EPIPE Exception causes detached connection state which never get re-connected by node watcher."
Warn level errors show in the log when this error condition initially occurs. The node watcher has no logic relating to the detatched? state and therefore never attempts to reconnect the session.

These errors are then followed by a series of failures sending and ultimately it appears that fluentd stops trying to send and we loose events as they are pruned out based on retry rules.

I have submitt

[2015-03-01 08:14] tagomoris commented on #14
I've just merged #13. Is it fix this issue completely? Or any other actions are required?

[2015-03-02 15:32] petastream commented on #14
As far as I can tell the issue has been resolved by #13, we have been running for a little over 2 weeks with no further issue across 20 or so updated secure-forwarders.

[2015-03-02 15:32] #14 closed

[2015-03-02 15:53] tagomoris commented on #14
Thanks to confirm my comment!

[2015-04-07 14:58] smcavoy-b opened #15 "no one nodes with valid ssl session"
Hello,
I have configured 3 sessions per system (there are 13 systems). I am randomly getting the error in the subject. The error occurs on one of the sessions (configured match) while the other two are perfectly fine.
Restarting does not work, I must kill -9 to get it to stop.
Once started the buffers on disk are loaded and sent.
I have included the log entries below. I am running 0.2.6 and using

[2015-04-07 15:49] doul59 opened #16 "Problem with dead connection"
Hi,

I have a problem with the plugin :

Forwarder :
2015-04-07 17:37:25 +0200 [info]: starting fluentd-0.12.7
2015-04-07 17:37:26 +0200 [info]: gem 'fluent-mixin-config-placeholders' version '0.3.0'
2015-04-07 17:37:26 +0200 [info]: gem 'fluent-mixin-plaintextformatter' version '0.2.6'
2015-04-07 17:37:26 +0200 [info]: gem 'fluent-plugin-mongo' version '0.7.8'
2015-04-07 17:37:26 +0200 [info]: ge

[2015-04-07 17:16] tagomoris commented on #15
Hmm, look very curious.
@smcavoy-b Do you have systems running fluent-plugin-secure-forward with td-agent 2.1? Doesn't any problems happen on that nodes?

[2015-04-07 17:19] tagomoris commented on #16
@doul59 Which td-agent version are you using?
Does this problem occurs always (now and in past)? Or from any point of time?

[2015-04-07 19:11] repeatedly commented on #16
From your log, `connection established to xxx` is missing.
If plugin works correctly, above message should be logged: https://github.com/tagomoris/fluent-plugin-secure-forward/blob/e48684ac5ce801e299289b61652b39191dad8d9b/lib/fluent/plugin/output_node.rb#L204

Can your forwarder connect to aggregator?
Does this happen with secure-forward plugin?

[2015-04-07 19:18] doul59 commented on #16
I have try 2.1.4 and upgrade this afternoon in 2.2.0
if i try without secure it's ok ...

[2015-04-07 19:26] tagomoris commented on #16
@doul59 do you mean that everything works on td-agent 2.1.4?

[2015-04-07 20:50] doul59 commented on #16
no i have same problem with 2.1.4

[2015-04-07 20:59] tagomoris commented on #16
Do you configure port `282525`?
Under IP protocol, max number of available port is `65534` ...

[2015-04-07 21:38] repeatedly commented on #15
I want to know this issue happens on only td-agent 2.2.0 or not.
It helps investingating this problem.

[2015-04-08 07:09] doul59 commented on #16
yes it's a mistake on my copy/paste :-1:
i use 28252 but if i don't specify port in config it's same result

[2015-04-08 07:17] doul59 commented on #16
on aggragator :
netstat -anope

tcp      517      0 ip_aggreagator:28252      ip_forwarder:58854     ESTABLISHED 0          0           -                off (0.00/0/0)
tcp      517      0 ip_aggreagator:28252      ip_forwarder:58829     ESTABLISHED 0          0           -                off (0.00/0/0)
tcp      517      0 ip_aggreagator:28252      ip_forwarder:58831     ESTABLISHED 0          0

[2015-04-08 07:37] repeatedly commented on #16
It means 2.1.4 doesn't have this issue?
Could you see the differences between 2.1.4 and 2.2.0, like network state or something?

[2015-04-08 07:48] doul59 commented on #16
i had exactly same issue yesterday with 2.1.4, i update in 2.2.0 but nothing change ...
maybe version of ruby is a problem ?

dpkg -l | grep ruby
ii  ruby                                         1:1.9.3                       all          Interpreter of object-oriented scripting language Ruby (default version)

2015-04-08 09:07:25 +0200 [warn]: temporarily failed to flush the buffer. next_retry=201

[2015-04-08 09:46] repeatedly commented on #16
Hmm.. secure-forward works with ruby 2.1.0 or later on some environment so
I hope ruby version is not related.

[2015-04-08 13:03] doul59 commented on #16
i try with an other server // same configuration
Without secure-forward : it's ok
With secure-forward same issue

[2015-04-08 13:27] repeatedly commented on #16
'Without secure-forward' means you use normal forward plugin?
You seem to use Ubuntu so could you check secure-forward plugin works or not with td-agent 1?

http://docs.fluentd.org/articles/install-by-deb-v1

[2015-04-08 14:00] doul59 commented on #16
i use debian version

[2015-04-08 15:29] doul59 commented on #16
i have done a new test :
Stop td-agent on forwarder + Stop td-agent on aggregator
Start agent on aggregator
wait 2 min
Start agent on forwarder

forwarder send to aggregator few lines of log and after X minutes forwarder is broken

2015-04-08 17:20:29 +0200 [info]: following tail of /var/log/syslog
2015-04-08 17:20:30 +0200 [info]: connection established to aggregator.toto.lan
2015-04-08 17:21:31

[2015-04-08 15:53] doul59 commented on #16
in debug mode :

aggregator :
2015-04-08 17:37:09 +0200 [info]: fluent/agent.rb:123:add_match: adding match pattern="fluent.**" type="record_reformer"
2015-04-08 17:37:09 +0200 [trace]: fluent/plugin.rb:98:register_impl: registered output plugin 'record_reformer'
2015-04-08 17:37:09 +0200 [info]: fluent/agent.rb:123:add_match: adding match pattern="reformered.**" type="record_reformer"
2015-04-08

[2015-04-08 17:40] tagomoris commented on #16
How about to configure forwarder without `keepalive 300`? (it means keep connection alive forever.)

[2015-04-08 18:24] repeatedly commented on #16
Hmm...
I tried Debian 7 with td-agent 2.2.0 but there is no problem in localhost test.

[code]

From your netstat, there are lots of 517 Recv-Q and 0 inode connections.
This is weird...

[code]

What is this program?  6067/ruby is your test program?

[2015-04-09 07:13] doul59 commented on #16
without keepalive : same issue

in this exemple : 6067/ruby is td-agent process

[2015-04-09 08:48] smcavoy-b commented on #15
I have reverted one of our systems to td-agent 2.1 and run some basic tests
and found no error. Unfortunately the problem does not seem to be easily
reproducible.

On 7 April 2015 at 23:38, Masahiro Nakagawa <notifications@github.com>
wrote:

[2015-04-09 15:48] repeatedly commented on #15
I see.
What the distribution do you use? CentOS, Ubuntu or Debian?

@tagomoris Can we know the cause of error by applying patch?
For example, dumping an exceptions or check the OpenSSL errors.

[2015-04-09 16:40] doul59 commented on #16
i had reinstall all plateform // i have same issue without secure-forward  :/

[2015-04-09 17:24] tagomoris commented on #16
Same issue without secure-forward?
It's weird, and it seems not about secure-forward, but about network quality of your system or so...

[2015-04-10 09:00] doul59 commented on #16
(i used fluent 2.1.4 since 2 months without issue)
i had upgrade in 2.2.0 and some issue :/

i try reinstall in 2.1.4 ;)

[2015-04-10 14:57] doul59 commented on #16
same result with 2.1.4
i don't understand ... i have try with new VM and reinstall OS + fluentd and i have always with result
forwarder can't stay connected with aggregator

[2015-04-10 18:04] tagomoris commented on #15
I pushed a branch w/ some additional logging. This code may help investigation...
https://github.com/tagomoris/fluent-plugin-secure-forward/tree/paranoid-logging-output-session

[2015-06-12 19:31] commanderrikker opened #18 "missing utility secure-forward-ca-generate"
The documentation for the plugin here on github references this utility:
```secure-forward-ca-generate /path/for/dir/of/certs "passphrase for private CA secret key"```

However I don't have that program when I install the plugin.  Where/how do I get this?  Or can you change the instructions to reference an outside utility?

[2015-06-13 19:38] cbh34680 opened #19 "supervise: process finished code=6"
日本語で失礼します。

Scientific Linux 6.6 の rpm パッケージ td-agent-1.1.21-0.x86_64
に fluent-plugin-secure-forward (0.3.2) をインストールして利用しています。

PHP のプログラムから 1,000,000 件のデータを送信したところ途中で

    2015-06-14 04:15:39 +0900 [info]: fluent/supervisor.rb:296:supervise: process finished code=6

のようなメッセージが出力され fluentd が再起動されています。

直接関係があるかわかりませんが、以前のバージョンである 0.2.5 までは
同じ送信プログラムを実行しても同様の現象は発生せず、0.2.6 と 0.3.2 では
発生が確認されました。

プラ

[2015-06-15 05:43] tagomoris commented on #19
`out_secure_forward` は `connection established` を報告している一方、以下のようなログが `fluent/supervisor` から出ています。
[code]
何が原因かはわかりませんが外部からSIGTERMを受け取っているようなので、少なくとも secure-forward plugin の問題ではないようです。

[2015-06-15 05:48] tagomoris commented on #18
@commanderrikker Hmm, I confirmed that fluent-plugin-secure-forward-0.3.2.gem includes `bin/secure-forward-ca-generate`.
Are you using v0.3.2? or didn't you rehash on your rbenv or so?

[2015-06-15 06:00] cbh34680 commented on #19
回答ありがとうございます。
Closed にされた後にすみません。

ご指摘のあったのは最後に td-agent を停止したときの記録 (2015-06-14 04:15:48) で、
そちらは [process finished code=0] と、正常に終了しています。

今回 伺っているのは 2015-06-14 04:15:39 に記録されている [process finished code=6]
のほうになります。

[2015-06-15 06:30] tagomoris commented on #19
見間違えていました、すみません。
が、これだと原因はわからないですね……。

[2015-06-15 06:38] cbh34680 commented on #19
お忙しい中 再度のご回答ありがとうございました。

原因が不明とのことですので、問題の発生していない 0.2.5 のバージョンのまま
更新せずに利用させていただきます。

[2015-06-15 16:56] commanderrikker commented on #18
Looks like I have the correct version:
[code]

[2015-06-15 16:56] #18 closed

[2015-06-15 16:59] repeatedly commented on #18
This is td-agent design to prevent unexpected command overwrite.

http://docs.fluentd.org/articles/faq#i-installed-td-agent-and-want-to-add-custom-plugins-how-do-i-do-it

[2015-06-15 17:14] commanderrikker commented on #18
Thanks for the help.  Can you clarify one issue for me?  What value does
'shared_key' take?  Am I just generating a random password?  Or do I
need to use the ssh-keygen utility with something like:

ssh-keygen -t rsa -b 4096

Thanks,

Rick

On 6/15/15 9:59 AM, Masahiro Nakagawa wrote:

[2015-06-15 17:51] slava-vishnyakov opened #20 "can't modify frozen String"
I'm trying to run the plugin on FreeBSD and get this error:

[code]

The same config on Ubuntu works fine

[code]

[2015-06-15 17:58] slava-vishnyakov commented on #20
Just in case: the installation on FreeBSD is done like this
[code]

The config file is `/usr/local/etc/fluentd/fluent.conf` and command to test is
[code]

[2015-06-15 18:56] repeatedly commented on #20
It seems similar case with this > https://github.com/fluent/fluentd/issues/598
Could you update fluentd to latest version?

[2015-06-16 00:33] tagomoris commented on #18
It's a random password or something you want, not related with RSA nor TLS.

iPhone$B$+$iAw?.(B

2015/06/16 2:14$B!"(BRick Chatham <notifications@github.com> $B$N%a%C%;!<%8(B:

[2015-06-24 19:20] stanhu opened #21 "write_objects fails with `no one nodes with valid SSL session`"
Using td-agent v2.2.0 and secure-forward v0.3.2, for some reason our server got disconnected and secure-forward never recovered. I kept seeing "no one nodes with valid ssl session" error messages. This looks exactly like issue #7 again:

[code]

[2015-06-24 19:27] stanhu commented on #21
If I just look for connection messages, it seems that either td-agent or the plugin isn't even attempting to reconnect after the first connection:

[code]

[2015-06-25 01:27] tagomoris commented on #21
Can you see debug/trace logs?
These can be turned on by using `-vv` option of Fluentd, specified by `TD_AGENT_ARGS` or `DAEMON_ARGS`.

[2015-06-30 07:12] kumai opened #22 "fluentd dies when a connection is reset."
Hi,

`OpenSSL::Buffering#read_nonblock`(called at output_node.rb:314) raises `Errno::ECONNRESET` when a connection is reset by peer unexpectedly, and then fluentd dies. I think the `SystemCallError` should be rescued in `SecureForwardOutput::Node#connect`.

[2015-07-02 01:50] tagomoris commented on #22
I've fixed it and released `v0.3.3dev2`.
@kumai Can you test it?

[2015-07-02 09:00] cherrot opened #23 "Could I set a backup log destination on a network failure?"
Consider a situation that all the fluentd aggregator (log receiver) were down, I wish my fluentd forwarder could write logs into a backup destination such as local log file.
It seems that currently this plugin does not support `<secondary>`  config just like what the `out_forward` plugin does.  Is there a plan for this, or is there any other way to accomplish my requirement?
Thanks!

[2015-07-02 09:09] repeatedly commented on #23
secure-forward is a buffered output plugin so `<secondary>` should work.
Did you hit the problem?

[2015-07-02 13:03] kumai commented on #22
Thank you for your quick fix and it LGTM. But unfortunately I don't know how to reproduce the 'connection reset' error manually, so I think it's difficult to test the fix in our environment. sorry...

[2015-07-04 18:09] cherrot commented on #23
My bad , I forgot to set [retry_limit](http://docs.fluentd.org/articles/out_forward#retrylimit-disableretrylimit). As a consequence, `fluentd` would not write to my `<secondary>` destination after 17 times retry (by default it would happen in 36 hours...)
Thanks and sorry for bothering :)

[2015-07-04 18:09] #23 closed

[2015-07-06 09:16] repeatedly commented on #23
np. If you want to cap the retry, `max_retry_wait` is also useful.

[2015-07-31 18:15] clu-0x80 opened #27 "Public CA Cert appears as invalid"
I have attempted to setup a receiver with a public CA cert and it is being deemed as untrusted by both the sender and external utilities such as openssl.

The reciever has a public CA issued cert from godaddy which has a 3 part bundle of intermediate CA certs that is appended into a pem file (key, cert, bundle). The cert is a wildard cert that is in production elsewhere so it is trusted elsewhere.

[2015-08-06 11:12] tagomoris commented on #27
@clu-0x80 Intermediate certs should be concatenated into one `.pem` file and specified from configuration file of secure forward server (input plugin).

[2015-08-06 11:22] clu-0x80 commented on #27
This is exactly how I presented the certs at one point and this still did not work. I tried various combinations.

[2015-08-06 11:25] clu-0x80 commented on #27
OS: Ubuntu 12.04
Plugin: fluent-plugin-secure-forward (0.3.2)
TD-Agent Version: 2.2.1-0
TD-Agent installed from PPA

[2015-08-07 08:16] tagomoris commented on #19
Let me close this issue at once.
Please open another issue if someone find any problem related with this.

[2015-08-07 08:16] #19 closed

[2015-08-07 08:18] tagomoris commented on #22
OK, once i close this issue.
Please reopen if you find any problems.

[2015-08-07 08:18] #22 closed

[2015-10-14 13:18] jo-bi commented on #16
I have the same issue

[2015-11-09 18:06] jacknagz commented on #27
@tagomoris I'm also experiencing this same exact problem.  My server certificate is concatenated and it still does not work.

[2015-11-10 03:12] tagomoris commented on #27
Can someone paste commands to generate concatenated server cert to reproduce this problem?

[2015-11-10 04:31] jacknagz commented on #27
https://www.digicert.com/ssl-support/pem-ssl-creation.htm

[2015-11-10 04:36] tagomoris commented on #27
Thanks! I'll check it later...

[2015-11-24 07:10] tagomoris commented on #20
I'll close this at once. Please open another issue for further problems.

[2015-11-24 07:10] #20 closed

[2015-11-24 07:14] tagomoris commented on #21
I'll close this at once.
Please open another issue for further problems.

[2015-11-24 07:14] #21 closed

[2015-11-24 07:17] tagomoris commented on #15
I'll close this issue at once.
Please reopen this and notify me with DEBUG/TRACE logs if you have further problems.

[2015-11-24 07:17] #15 closed

[2015-11-24 10:16] tagomoris commented on #27
I confirmed that concatenated pem files doesn't work well on this plugin. Now i'm fixing it.

[2015-11-24 11:21] tagomoris commented on #27
I've just fixed this problem, fixed and released `v0.3.3`. This version will handle chained/concatenated PEM certificates from public CAs correctly.
@jacknagz @clu-0x80 Could you check this release? Please reopen this issue if you still have problems.

[2015-11-24 11:21] #27 closed

[2015-11-30 23:00] jacknagz commented on #27
Hey @tagomoris , with the new `0.3.3` release, my td-agent fails to start when loading the secure-forward gem.  I'm using this configuration:

[code]

[2015-11-30 23:12] repeatedly commented on #27
@jacknagz Please paste your error log. With only configuration, hard to investigate why td-agent fails to start.

[2015-11-30 23:58] jacknagz commented on #27
@repeatedly there's no error log, it just hangs when running `# service td-agent start`.  `td-agent.log` tells me it hangs after `adding source type="secure_forward"`

[2015-12-01 03:40] tagomoris commented on #27
@jacknagz Are there any information in debug/trace level logs?
https://docs.treasuredata.com/articles/td-agent#debugging

Please tell me about your platform (Linux?) and the version of td-agent.

[2015-12-01 17:15] jacknagz commented on #27
Platform: RHEL 6.4
TD-Agent: 0.12.12

[code]

[2015-12-02 05:48] tagomoris commented on #27
Hmm, weird. I tried this plugin v 0.3.3 with RHEL 6.7 (can't get 6.4 OS image) and td-agent 2.2.1. It works fine.

[code]

Logs:
[code]

[2015-12-02 05:49] tagomoris commented on #27
@jacknagz Could you try to re-install td-agent and fluent-plugin-secure-forward once more?
Please open the other issue, not add comment on here if you still have problem about it.

[2015-12-02 17:25] jacknagz commented on #27
@tagomoris can you try using a public CA setup?

[2015-12-03 02:27] tagomoris commented on #27
@jacknagz I have no time to do that right now...
But I think that your problem isn't related with public CA configurations. If so, Fluentd logs must show `setup for ssl sessions` and other debug/trace logs before handling certificates.
Did you check your configuration without public CA certificates?

[2015-12-20 01:31] stanhu commented on #21
I'm seeing this issue again. I have two fluentd aggregators, each receiving 50% of the traffic. When I restart one of them, all my clients get into this state. I disabled `keepalive` because this was causing an inordinate amount of connections/reconnections and causing lots of sockets on the server to get into CLOSE_WAIT.

Here is the log messages from one of the clients that get stuck:
[code]

[2015-12-21 16:05] stanhu commented on #21
Isn't it possible that this `while` loop never ends? If either `SystemCallError` or `EOFError` hit, shouldn't `@writing` be set to false so that the socket will be shutdown?

https://github.com/tagomoris/fluent-plugin-secure-forward/blob/master/lib/fluent/plugin/output_node.rb#L343

[2016-03-08 19:45] tagomoris commented on #16
I released experimental version of this plugin, `v0.3.5pre1`. It may improve your problems if you're specifying `keepalive` timeout option.
With this version, secure-forward output plugin will disconnect stuck connections forcedly after keepalive timeout (in default, `connection_hard_timeout` is 1.2x of `keepalive`).

If you have troubles on stuck connections with keepalive, please try it, with ju

[2016-03-21 19:08] johnugeorge opened #34 "Issue with Intermediate certificates"
When I use my SSL certificates in server plugin, I am seeing errors "Certificate verify failed" in client. My ssl certs are signed using Godaddy's Intermediate certificates. (https://certs.godaddy.com/repository/)  If i use certfile parameter in client fluentd, it works fine.  Is there a possibility to make changes only in server side so that client configs are still same? (Like SSLCertificateChai

[2016-03-22 01:02] tagomoris commented on #34
What is the correct logs or error message? I cannot understand what your configuration fails from your report.
Please paste whole log message and stack traces.

[2016-03-22 05:19] johnugeorge commented on #34
I am getting the following error in the fluentd client "failed to establish SSL connection error_class=OpenSSL::SSL::SSLError error=#<OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=error: certificate verify failed> host="xxxx" address="yyyy" port=24284"
dead connection found: xxxx, reconnecting...

But if I add "ca_cert_path" to CA intermediate certificate in fluentd client td-agent

[2016-03-22 05:59] tagomoris commented on #34
If you have a server certification and intermediate certification which signs to the server certification, you can create a file by concatenating these into a text file, and specify it as `cert_path`.

[2016-03-24 07:02] johnugeorge commented on #34
@tagomoris Thank you. It works!

[2016-03-24 07:17] tagomoris commented on #34
@johnugeorge Nice to hear that!
I should add a note for it to README, but ...

[2016-03-24 07:17] #34 closed

[2016-03-30 15:13] freedomofkeima opened #35 "Nil conversion on connection_hard_timeout (v 0.4.0)"
The newest version caused fluentd to crash.

[code]

It seems the default value of `connection_hard_timeout` is set to `nil` [here](https://github.com/tagomoris/fluent-plugin-secure-forward/commit/f7de545515dbad8e8cdc9776cf950c4f396859e7#diff-9822b4b84875ff00780f71f0faa3c575R26) while this [line](https://github.com/tagomoris/fluent-plugin-secure-forward/commit/f7de545515dbad8e8cdc9776cf950c4f39685

[2016-03-31 02:18] tagomoris commented on #35
@freedomofkeima It's actually a bug. Thank you for report!
I'd fixed it and released v0.4.1. Could you try it?

[2016-03-31 02:59] freedomofkeima commented on #35
Thanks, it's starting properly now :smile:

[2016-03-31 02:59] #35 closed

[2016-05-16 17:31] johnugeorge opened #36 "Question regarding the plugin design"
I have some questions regarding the secure forward plugin design.

Why was the plugin designed to have a separate custom protocol over SSL ?  If it was simple SSL for securing client-server connections, we could have used other systems(loadbalancers like HAProxy, Nginx) to terminate the SSL. Moreover, It could have been faster with standard SSL connection.  What are the reasons for using a custom

[2016-05-17 05:58] tagomoris commented on #36
The transport layer of secure-forward is just normal SSL/TLS. This plugin make an application layer to authenticate/authorize clients/servers on a top of it. Application layer on top of transport layer is almost same with "forward" protocol of Fluentd built-in plugin.

But currently, secure-forward plugin protocol always requires authentication/authorization handshake and forward plugin cannot und

[2016-05-26 22:44] t0ffel opened #38 "unable to run in container with no `ip` or `ifconfig`"
I think the issue is similar to https://github.com/tagomoris/fluent-plugin-route/issues/3

Here is the trace:
[code]

The config:
[code]
Is this going to fix the issue?
https://github.com/sporkmonger/uuidtools/pull/39

is there a known workaround I could use?

[2016-05-27 01:27] tagomoris commented on #38
Yes, just same issue.
But this plugin uses `config_placeholders` mixin just for hostname, not uuid. It can be removed and replaced with something to provide hostname only.
I'll do it when i have time. Or pull requests welcome :)

[2016-06-01 03:05] t0ffel commented on #38
@tagomoris I'm probably missing something, but from what I see from https://github.com/tagomoris/fluent-mixin-config-placeholders only replaces if there is a config key `hostname` and there is no such config key in `secure_forward`.
Can you please advise what would be a proper test for such a placeholder?

[2016-06-01 03:15] tagomoris commented on #38
That mixin replaces `${hostname}` string in any configuration parameters.

[2016-06-01 03:19] tagomoris commented on #38
To say correctly, that mixin does:
* replace all configuration parameter values including `${hostname}` with "hostname"
* "hostname" is decided with configuration parameter `hostname` (if exist), or [dynamically](https://github.com/tagomoris/fluent-mixin-config-placeholders/blob/master/lib/fluent/mixin/config_placeholders.rb#L57)

[2016-07-03 20:41] JoeOrtiz opened #40 "uninitialized constant Fluent::Input on fluentd 0.14.1"
Getting this on the new version of fluentd:

[code]

[2016-07-04 01:06] tagomoris commented on #40
I've just released v0.4.2, which is fixed for this issue.
Thank you for reporting!

[2016-07-04 01:06] #40 closed

[2016-07-08 15:57] machytkafitanalytics opened #41 "OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol"
Hi, after many tries with no result I would like to ask you about this error.

I run td-agent 0.12.20 tailing log files on several instances on DigitalOcean sending data via secure_forward to google-fluentd  1.5.8 running on one service instance on Google and here are feeded into google StackDriver.

For several weeks everything was working perfect. But on Wednesday (2016-07-06) we installed secur

[2016-07-09 03:45] tagomoris commented on #41
Can you do `tcpdump` on the host on Google (Compute Engine)?
It shows that your problem will be brought by networking, or code of plugin.

[2016-07-11 09:16] machytkafitanalytics commented on #41
Hi, thanks for reply but can you please specify what shall I look for? I see repeated connection attempts in tcpdump, I see packets but nothing which looks like some error code etc...

[2016-07-11 14:23] tagomoris commented on #41
Did you see some packets on tcp port 24284? (It should be captured as `tcpdump -i dev_name dst port 24284`)
If so, some debug or trace logs should exist on in_secure_forward of google-fluentd. Can you see that?

[2016-07-11 14:40] machytkafitanalytics commented on #41
In tcpdump -i .... I see these repeated blocks:

08:15:26.750567 IP xxxxxxxxx.35333 > my.target.google.instance.24284: Flags [S], seq 3859221755, win 29200, options [mss 1460,sackOK,TS val 176397104 ecr 0,nop,wscale 8], length 0
08:15:26.750623 IP my.target.google.instance.24284 > xxxxxxxxx.35333: Flags [S.], seq 596849254, ack 3859221756, win 28160, options [mss 1420,sackOK,TS val 58127313 ecr 17

[2016-07-11 14:40] #41 closed

[2016-07-11 15:56] tagomoris commented on #41
Okay, thank you to report the conclusion of your case!

[2016-07-20 20:25] l-53 opened #42 "Multiple destinations with out_copy - cert verification fails"
I couldn't find any previous posts about the issue I'm experiencing, so I'm hoping to find out if it's a bug or a PEBKAC situation.

I'm attempting to securely forward logs in the following manner:
1. Logs hit internal server "syslog01" using in_syslog and get tagged
2. Logs are forwarded from "syslog01" to "fluentd01" using out_secure
3. On "fluentd01" I have a match statement using out_copy, wit

[2016-07-21 01:28] tagomoris commented on #42
It is the first time to hear about such behavior... I have no idea about root cause for now.
Could you paste your configuration on "fluentd01" node? (Of course, without your secret values)

[2016-07-21 05:16] l-53 commented on #42
I've attached the sanitized config for fluentd01. For fluentd01->splunkfwd01 the traffic is using the default 24284 port, and for fluentd01->efk01 I hard-set both sides to 24285 as a troubleshooting attempt. FirewallD is running on all VMs with the appropriate ports opened and listening. All of the VMs are running CentOS7 with selinux set to enforcing. All VMs are on the same subnet in a test envi

[2016-07-21 05:28] tagomoris commented on #42
Hmm, your configuration looks correct to work well - no explicit bad points at least.
OK, I'll investigate about it at the next time I get enough time for it. It might require some time... sorry for it.

[2016-07-21 23:26] l-53 commented on #42
I did some more testing and removed out_copy from the equation. Now I'm just using 2x match statements.

Scenario 1: fluentd01 -> splunkfwd01 - logs are forwarded, no errors
Scenario 2: fluentd01 -> efk01 - logs are forwarded, no errors
Scenario 3: fluentd01 -> splunkfwd01 AND efk01 - certificate verification for the second match statement fails (efk01 in this case)
**Scenario 4:** fluentd01 -> sp

[2016-07-25 11:12] vishnuvg1984 opened #43 "Fluentd 14.0. v SSLErrorWaitReadable error with SecureForward plugin"
I tried using Fluentd v 14.0.1 with

ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux] (Installed using RhRuby 2.2)
OpenSSL 1.0.1e-fips 11 Feb 2013

I am getting error [Fluent::SecureForwardOutput] SSLError error_class=OpenSSL::SSL::SSLErrorWaitReadable error=#<OpenSSL::SSL::SSLErrorWaitReadable: read would block> mtime=2016-07-25 08:34:52 +0000 host="10.4.1.10" port=24284

Fluentd using fl

[2016-07-28 02:58] repeatedly commented on #43
Also refer to https://groups.google.com/forum/#!topic/fluentd/amHr3W2qMKc
out_secure_forward should catch `OpenSSL::SSL::SSLErrorWaitReadable` and retry.

[2016-07-28 04:08] #36 closed

[2016-07-28 06:06] tagomoris commented on #43
Can you see where that error was raised from?
As far as I checked, that error should be rescued by these code:
https://github.com/tagomoris/fluent-plugin-secure-forward/blob/master/lib/fluent/plugin/output_node.rb#L294
https://github.com/tagomoris/fluent-plugin-secure-forward/blob/master/lib/fluent/plugin/output_node.rb#L314
https://github.com/tagomoris/fluent-plugin-secure-forward/blob/master/lib

[2016-07-28 08:00] #38 closed

[2016-07-28 08:01] tagomoris commented on #38
#44 should solve this problem.

[2016-07-28 09:09] vishnuvg1984 commented on #43
Hi Tagomoris,

The warning is happening at forwarder level.

The warning which I mentioned [Fluent::SecureForwardOutput] SSLError error_class=OpenSSL::SSL::SSLErrorWaitReadable error=# mtime=2016-07-25 08:34:52 +0000 host="10.4.1.10" port=24284  is getting at forwarders.

 At the aggregator I can see from the trace that the forwarder was able to connect to aggregator , but no data transfer happeni

[2016-07-28 09:29] tagomoris commented on #43
@vishnuvg1984 Thank you for responding my question.
What I need is full backtrace (if exists), or raw log whole line which includes the message you pasted.
Could you paste it?

[2016-07-29 05:33] vishnuvg1984 commented on #43
Hi Tagomoris,

Thanks, Sure I can attach both the forwarder and aggregator tracelog .
Please find the attached files
[AggregatorLog.txt](https://github.com/tagomoris/fluent-plugin-secure-forward/files/389930/AggregatorLog.txt)
[ForwarderLog.txt](https://github.com/tagomoris/fluent-plugin-secure-forward/files/389931/ForwarderLog.txt)

Also Please find the environment version details.

Forwarder & A

[2016-07-29 06:11] tagomoris commented on #42
I tested your situation with the configurations `cert_copy_client`, `cert_copy_server_a` and `cert_copy_server_b` in the branch of pull-request below:
https://github.com/tagomoris/fluent-plugin-secure-forward/pull/45

As the result, 2 different CA certs in 2 `<store>` sections of a copy plugins, works well in my environment.
[code]

[2016-07-29 06:11] tagomoris commented on #42
@l-53 Can you try these configurations and CA cert files in your environment?

[2016-07-29 06:47] tagomoris commented on #43
Oh, are you mentioning about trace logs?
It's very normal and are handled by `out_secure_forward` code. There are no problem. Trace logs are printed to know where or when problems occurs, and that SSLError you mentioned doesn't cause any problems.

I think the problem you have is completely different one (like: any events are not transferred from forwarder to aggregator even when connection establ

[2016-07-29 06:47] #43 closed

[2016-07-29 23:12] l-53 commented on #42
No luck with the new certificates either.

Here are my current destinations from fluentd01:
1. 10.10.10.52 - influxdb01 (using your cacert1 cert/key/psk/passphrase)
2. 10.10.10.54 - efk01 (using your cacert2 cert/key/psk/passphrase)

So far it seems that every time I reload td-agent, the ssl session is established to either influxdb01 or efk01, but only one server at a time while the other one fai

[2016-07-30 05:42] tagomoris commented on #42
@l-53 Could you paste your logs of fluentd01? (debug(`-v`) or trace(`-vv`) logs if possible)

[2016-08-01 14:30] l-53 commented on #42
I've attached the sanitized logs with -vv. The "SSLErrorWaitReadable" error for the successfully established connection only shows up with -vv.

[fluentd01_logs_sanitized.txt](https://github.com/tagomoris/fluent-plugin-secure-forward/files/394000/fluentd01_logs_sanitized.txt)

[2016-08-02 06:21] tagomoris commented on #42
@l-53 Hmm, it looks just normal (and it looks to report certificate error).
I'm very sorry to bother you, could you upload 2 more logs for commented-out pattern for 1st and 2nd `<store>` sections?

[2016-08-02 22:06] l-53 commented on #42
I've attached the logs from fluentd01 with one section commented out at a time.

[fluentd_to_efk.txt](https://github.com/tagomoris/fluent-plugin-secure-forward/files/398241/fluentd_to_efk.txt)
[fluentd_to_influx.txt](https://github.com/tagomoris/fluent-plugin-secure-forward/files/398240/fluentd_to_influx.txt)

[2016-08-03 05:00] tagomoris commented on #42
Super weird... Could you tell me your versions of Ruby, td-agent (if you are using it) and OpenSSL on fluentd01?

[2016-08-05 16:32] l-53 commented on #42
fluentd01's version-manifest.txt:
ruby: 2.1.8 (embedded, no ruby installed on the system itself)
td-agent: 2.3.1
openssl: 1.0.1r

influxdb01's version-manifest.txt:
ruby: 2.1.10 (embedded, no ruby installed on the system itself)
td-agent: 2.3.2
openssl: 1.0.1t

efk01's version-manifest.txt:
ruby: 2.1.10 (embedded, no ruby installed on the system itself)
td-agent: 2.3.2
openssl: 1.0.1t

I agree it'

[2016-08-24 03:56] briandeheus commented on #43
I'm having the same issue as @vishnuvg1984. I've added a match to `stdout` and can confirm the messages are showing up in the log files of the forwarder.

Other than that there is a whole lot of:
[code]

using a similar setup as @vishnuvg1984

[2016-09-07 22:49] emayssat-ms commented on #43
Same issue here, when log_level is set to trace.
Although that may not be an issue, the log file is then meaningless since this message is hiding other meaningful ones.

[2016-09-29 03:41] cellnuscyrus opened #47 "tlsv1 alert unknown ca"
I followed the instruction to create private CA using the command "secure-forward-ca-generate" . The secure forward connection fail and show the error message as below.

fluentd node :
Log :
2016-09-28 16:50:58 +0800 [warn]: plugin/output_node.rb:301:rescue in connect: failed to establish SSL connection error_class=OpenSSL::SSL::SSLError error=#<OpenSSL::SSL::SSLError: SSL_connect returned=1 errno

[2016-10-20 10:57] dpgaspar opened #50 "On CentOS 6.4 install old 0.0.2 version"
When installing on an CentOS6.4 it always install an old plugin version:

fluent-logger (0.5.1)
fluent-mixin-config-placeholders (0.4.0)
fluent-mixin-plaintextformatter (0.2.6)
fluent-plugin-kafka (0.3.1)
fluent-plugin-mongo (0.7.15)
fluent-plugin-rewrite-tag-filter (1.5.5)
fluent-plugin-s3 (0.7.1)
fluent-plugin-scribe (0.10.14)
fluent-plugin-secure-forward (0.0.2)
fluent-plugin-td (0.10.29)
fluen

[2016-10-21 01:27] tagomoris commented on #50
Does it work?: `gem install fluent-plugin-secure-forward -v 0.4.3`

[2016-10-24 07:58] dpgaspar commented on #50
It doesn't, but if i include the gem's for resolve-hostname and fluent-plugin-secure-forward it works.
You can close this, since this is probably an edge case, this OS has some weird specifics.

Thanks!

[2016-10-24 07:58] #50 closed

[2016-11-07 11:27] kzk opened #51 "Add ChangeLog"
T/O

[2016-11-12 01:33] elyscape opened #52 "DNS round robin support"
The `out_forward` plugin has support for DNS round robin selection of destination servers. It would be nice if `out_secure_forward` supported this as well.

[2016-11-12 12:44] tagomoris commented on #52
`out_secure_forward` does SSL/TLS session keepalive to reduce SSL/TLS handshake cost. It prevents DNS round robin.
It might be nice to have an option to disable keepalive, but it should be with additional CPU usage (performance regression).

[2016-11-15 17:42] ewolinetz opened #53 "Make shared_key optional for output plugin"
If we want to be able to ship logs securely with this plugin to another log aggregator that may not be fluentd (e.g. logstash), we should be able to not provide a `shared_key` for authentication.

Logstash can use SSL communication, and it has a Fluent codec to interpret events sourced from Fluentd. However using this plugin we cannot ship to them given that `shared_key` is required and Logstash h

[2016-11-16 00:50] tagomoris commented on #53
This plugin is not to transfer logs to logstash.

[2016-11-16 00:50] #53 closed

[2016-11-21 20:51] jonapich commented on #43
Same discovery on my end; tried enabling -vv to get some trace for another problem and the output is completely flooded with these messages.

@tagomoris any chance we can get fewer messages or something? :(

[2016-12-12 19:05] jonapich opened #55 "SSL from windows"
Hi,

Is it possible to transfer logs to this plugin from Windows?

Use case: I have a fluent server setup with secure-forward as the input and I'm trying to hook up my windows machines to it.

The official documentation mentions using nxlogs instead since v10 "doesn't support windows anymore", but its om_ssl module doesn't look like it supports any way of providing a shared key.

Are there any wor

[2016-12-13 03:16] tagomoris commented on #55
You can install Fluentd v0.14 by `gem install fluentd` after installing ruby + devkit. Binary package (td-agent) including v0.14.x are not released yet.
This plugin's protocol is originally invented for this plugin itself, and not compatible with any others (except for Fluentd v0.14 auth protocol... but it still have no support for SSL/TLS). As far as i know, it's the only way to use Fluentd v0.14

[2016-12-13 16:53] jonapich commented on #55
Just making sure I get this straight: it's impossible to send windows logs to fluentd/td-agent in a secure manner using fluent v14 windows, and because this plugin doesn't follow the standard SSL/TLS mechanics, there are no workarounds possible with 3rd party windows log forwarders.

Hopefully v14 will open up to the world and use standard mechanisms?

Thanks for the input!

[2016-12-13 17:41] tagomoris commented on #55
Sorry, what's the "standard mechanisms" you mean?

The only SSL/TLS doesn't work because SSL/TLS just assure the transportation security, but it doesn't assure the safety of destination, because the AWS EC2 IP address might be another host of you're using.
So, we need application layer requirements to assure the node is which we want to communicate. The secure-foward protocol (auth protocol in Flu

[2016-12-13 19:49] jonapich commented on #55
I appreciate your input, but I don't agree with the shared key adding any assurance; it gives a little more trouble to the hacker of course, but the key probably appears in the configuration database in clear, whereas for certificates, you typically just configure the path to the cert. In order to access and steal the path, you need some additional permissions. But that's just my grain of salt.

D

[2017-02-08 12:39] lakshmi-kannan opened #56 "Private certs and SSL verify issue"
## Problem

I have a fluentd forwarder/client talking to a fluentd aggregator via SSL. I rolled my own certs and I want to disable SSL verification. I therefore set "enable_strict_verification" to "no" in the config (see config snippets below) but still the node fails to connect to the aggregator and fails with following error:

2017-02-08 11:56:06 +0000 [warn]: failed to establish SSL connection

[2017-02-08 12:44] lakshmi-kannan commented on #56
I tried to look at the source myself and I think I found a bug in the implementation. I am not a ruby expert but this code looks wrong
https://github.com/tagomoris/fluent-plugin-secure-forward/commit/f1fa701f3bcc2c237da922ad88aa506c6a784bbb#diff-02c1517105a46b18172c993e13647c42R254

First, the default is set to VERIFY_PEER https://github.com/tagomoris/fluent-plugin-secure-forward/commit/f1fa701f3b

[2017-02-09 02:16] tagomoris commented on #56
`SSLSocket` of ruby doesn't verify the common name of certificates against the hostname now actually connected to. It requires to call `SSLSocket#post_connection_check(hostname)` to do it after `SSLSocket#connect` succeeded.
The `enable_strict_verification` is the parameter to specify to do it. As far as I re-checked, there are no obvious bug around that code.

[2017-02-09 03:24] lakshmi-kannan commented on #56
Ahh, you are right. So it's doing CN verification. I think the variable should be renamed to `enable_hostname_verfication` just to be clear. Usually `verify` in python world and in other places (like httpie) refers to verifying if a cert is signed or not. BTW, I think what we really need is a code block that's like

[code]

http://stackoverflow.com/questions/1113422/how-to-bypass-ssl-certificate-v

[2017-02-09 04:29] tagomoris commented on #56
@lakshmi-kannan Do you want to skip all verification steps about certificates?
If so, specify `secure no`. It's to skip setting `context.verify_mode`, and the default is `VERIFY_NONE`.
https://docs.ruby-lang.org/en/2.4.0/OpenSSL/SSL/SSLContext.html

[2017-02-09 11:11] lakshmi-kannan commented on #56
Ahh, ```secure no``` did the trick it looks like but is counter intuitive in terms of its name as a configuration parameter. Final working config

Forwarder:
[code]

Aggregator:

[code]

This document https://github.com/tagomoris/fluent-plugin-secure-forward#using-insecure-self-signed-certificates should be updated to include the ca_cert_path and ca_private_key_path. Otherwise, it's misleading and

[2017-02-09 11:11] #56 closed

[2017-04-21 21:33] jonapich opened #57 "Secure input performance and limits"
I've been troubleshooting an issue for the past few weeks and I'd like to share some conclusions/questions.

We wrap Fluentd in docker using `fluent/fluentd:v0.12-latest-onbuild`. The aggregator's configuration is rather simple:

[code]

The tidyup script is also very simple:

[code]

The server is dedicated to Fluentd. For my tests, I used an r4.large instance from AWS. They 15gb of RAM, a good C

[2017-04-24 16:29] jonapich commented on #57
This morning I setup a Fluentd server that uses in_forward instead of secure_forward, and tried flooding it again with idle connections.

First thing I noticed is that the thread count is stable, regardless of the amount of connections.

Second thing I noticed, using secure-forward, creating 100 idle connections creates about 16k file descriptors on the host machine. In comparison, 100 idle connec

[2017-04-25 06:42] tagomoris commented on #57
Thank you for benchmarking & detailed report!

It is completely expected. The secure forward input plugin creates threads for every connections, and these threads shares just 1 CPU core by CRuby's global vm lock. From this implementation, secure input plugin has a limitation about scaling (especially for the number of connections).

On the other hand, Fluentd v0.14's TLS support uses asynchronous

[2017-04-25 06:49] tagomoris commented on #57
I didn't expect about the increase of the number of file handles, but i'm not surprised about it... TLS transferring uses, as you know, many resources and different types of buffers internally.

The longer time to establish 100 connections in TLS than TCP is also expected. I suppose that TLS connection establishment (it's done BEFORE secure-forward handshake, out of this plugin's ruby code) consum

[2017-04-25 11:41] jonapich commented on #57
Thanks,

We're very eager to try out v14 once it's out of development. Until then we'll modify our clients to be more tolerant for connection issues (i.e. limit the amount of connections they can create per minute) and we'll spawn more servers to handle the load.

[2017-06-15 20:02] moinnadeem opened #60 "td-agent not recognizing plugin"
Hello,
I installed the plugin using `sudo td-agent-gem install fluent-plugin-secure-forward`. However, when I run it, I get this issue: `#0 config error file="/etc/td-agent/td-agent.conf" error_class=Fluent::ConfigError error="Unknown input plugin 'secure_forward'. Run 'gem search -rd fluent-plugin' to find plugins"`

Any clue? Thanks!

[2017-07-19 11:41] alexilievski commented on #16
Hi

I get a similar issue to this. A connection fails to be established even though the logs say the retry succeeded nothing makes it to the aggregator. Any insight as to what could be causing this issue?

2017-07-19 11:10:45 +0000 [info]: connection established to logger.contacta.io
2017-07-19 11:11:45 +0000 [warn]: disconnected host="logger.contacta.io" port=24284
2017-07-19 11:11:45 +0000 [warn

[2017-10-24 01:44] xenonsin opened #62 "Wrong openssl version number?"
[code]

So I get a wrong version number error.. for openSSL? How do I update this?

[2017-10-24 03:23] tagomoris commented on #62
I'm unsure what version / configuration you're using... anyway, try openssl in your host OS, and update (re-build or re-install) your ruby.

[2017-10-24 20:46] xenonsin commented on #62
So this error is pertaining to the SSL_Version as seen [here](https://ruby-doc.org/stdlib-2.4.2/libdoc/openssl/rdoc/OpenSSL/SSL/SSLContext.html#method-i-ssl_version-3D) and [here](https://ruby-doc.org/stdlib-2.4.2/libdoc/openssl/rdoc/OpenSSL/SSL/SSLSocket.html#method-i-ssl_version). The word "version" is used to describe the ssl protocol being used, either TLS or SSL2 or SSL3.

There error is that

[2017-10-24 20:46] #62 closed, assigned to nobody

[2017-11-02 05:17] ashishtilara opened #63 "Disconnect sender-receiver connection for period of time"
Hi

I have multiple senders configured to connect to one receiver, with secure-forward plugin and all those senders keep a connection open with receiver even when they don't have anything to send.

Is there a sleep connection function or a configuration I can use to disconnect sender-receiver?

ps. awesome plugin 😃 !

Thank you,
Ashish

[2017-11-02 06:22] tagomoris commented on #63
There's no feature to do such things :P
Fluentd v0.14 forward output plugin (w/ TLS options enabled) is compatible with this plugin in protocol, but it doesn't keepalive. So it's a good option to use it in sender side.

[2017-11-03 07:28] ThreatHunterDiary opened #64 "Using CRT file instead of PEM"
Hi,

Can CRT certificate file be used instead of PEM file for secure transfer of logs?

If yes how. Because when I use its showing error "failed to load CA cert file".

Thanks.

[2017-11-06 03:08] tagomoris commented on #64
It supports only pem files now.

[2017-11-06 03:08] #64 closed, assigned to nobody

[2017-11-13 05:48] ashishtilara commented on #63
Thank you @tagomoris. Is there a chance for this plugin to have that feature?
Not sure if Fluentd v0.14 is production ready yet :(, the documentation site don't even have the plugin details.

[2017-11-13 06:01] tagomoris commented on #63
Fluentd v0.14 is now stable: https://www.fluentd.org/blog/fluentd-v0.14.22-has-been-released
As noted on README, I have no plan to add any features on this plugin. Use Fluentd v0.14.

[2017-11-23 03:37] DenverJ commented on #60
Hi, we are also seeing this. Did you work out what the problem was?

[2017-11-23 22:49] moinnadeem commented on #60
Hi! I switched secure-forward plugins. Sometimes you should also check permissions if on a Linux-based machine.

[2018-01-17 18:35] awlamb opened #65 "SSL not working using letsencrypt certificates"
The logs:

`2018-01-17 18:31:37 +0000 [debug]: #0 starting server
2018-01-17 18:31:37 +0000 [debug]: #0 failed to establish ssl session error_class=OpenSSL::SSL::SSLError error=#<OpenSSL::SSL::SSLError: SSL_accept SYSCALL returned=5 errno=0 state=SSLv3 read client certificate A>
2018-01-17 18:31:37 +0000 [debug]: #0 Shutdown called
2018-01-17 18:31:37 +0000 [debug]: #0 Shutting down :
`

The Confi

[2018-01-18 02:36] tagomoris commented on #65
If you use certs provided by Let's Encrypt, you should configure Fluentd using "Trusted CA" pattern with intermediate certificate.
https://github.com/tagomoris/fluent-plugin-secure-forward#using-ssl-certificates-issued-from-trusted-ca

[2018-01-18 17:37] #65 closed, assigned to nobody

[2018-03-10 10:50] himmatb commented on #55
@jonapich Did you get any solution for this. if yes please help me.

I am trying to send securely logs from windows application logs to Fluentd Aggregator(mux) which is present on openshift EFK stack which is using secure-forward as the input using fluentd.

Is it really require to Nxlog to florward logs to fluentd aggregator?
can we send log directly by install msi version of td-agent latest vers

[2018-03-27 06:14] abhiTamrakar opened #66 "MessagePack::UnknownExtTypeError, there is not time_as_integer to set"
@tagomoris we are hitting error_class=MessagePack::UnknownExtTypeError error="unexpected extension type in secure forward plugin and due to this our setup is breaking, buffer overflow is even because fluentd is not able to flush the buffer. I see this error in the receiving end(aggregator side).
I tried putting time_as_integer true but as expected its not in the code so has not affect.
Please help

[2018-03-27 09:36] tagomoris commented on #66
You're using this plugin on Fluentd v1, but it's not supported.
Use tls support feature of Fluentd v1 forward plugin, instead of using this plugin.

[2018-03-27 09:36] #66 closed, assigned to nobody

[2018-08-02 13:31] vguaglione opened #67 "Question about Flush Interval"
Using this plugin to forward messages from OpenShift cluster pods to an external Splunk instance.  I need the forwarder to collect and send all messages to the external Splunk every 10 seconds.  How do I configure this?

[2018-08-07 07:32] bootjp opened #68 "[question] Secondary the require secure_forward config? or not support?"
Hi,

An error of the 2 will occur in the following the 1 setting file.
Is "secondary" not supported in "secure_forward"?
Or is it limited to secure_forward?

I am considering using S3 as a fallback destination of "secure_forward" destination.

1. fluent conf
[code]
2 error
[code]

[2018-08-14 10:49] bootjp commented on #68
im sorry i had overlooking this,
this issues is closed.
'NOTE: This plugin will not be updated anymore.'

[2018-08-14 10:49] #68 closed, assigned to nobody

[2022-08-17 12:43] GTron-1729 commented on #62
I'm having this issue. I have provided details for it here: https://github.com/fluent/fluent-bit/issues/5893
@tagomoris can you please check this issue?
@xenonsin >>Either changing the client to TLS or the server to SSL3 fixes this issue.: How to do this?